$purple: #6666B8;
$danger: #FF6938;
$primary: #3A66B8;

@import 'bootstrap';
@import 'errors';
@import 'flash';
@import 'header';
@import 'welcom';
@import 'project';
@import 'admin_panel';
@import 'footer';

